body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	margin: 0px;
}

header {
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 69px;
	border-bottom: 1px solid seashell;
	background-color: black;
}

header img {
	height: 50px;
	padding-left: 10px;
}

header nav ul li {
	list-style: none;
	text-decoration: underline;
	display: inline;
	color: seashell;
	padding-right: 20px;
}

.mission {
	width: 1200px;
	height: 700px;
	margin: auto;
	padding-top: 69px;
	background-image: url("../images/mission.jpg");
	display: flex;
	align-items: center;
}

.mission-text {
	width: 100%;
	background-color: black;
}

.content {
	width: 1000px;
	margin: 0px auto;
}

.tea-of-the-month {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tea-of-the-month img {
	height: 200px;
	width: 300px;
	margin: 0px 10px;
}

.tea-of-the-month h4 {
	margin-top: 5px;
}

#locations {
	width: 1200px;
	height: 500px;
	margin: 0 auto;
	background-image: url("../images/background.jpg");
}

#locations h2 {
	position: relative;
	top: 30px;
}

#location-boxes {
	display: flex;
	justify-content: center;
	align-items: center;
}

#location-boxes div {
	width: 300px;
	height: 300px;
	margin: 20px;
	background-color: black;
}

#copyright {
	text-align: left;
	padding-left: 20px;
}